h1 {
  color: black;
  font-weight: 600;
}

header.css-18ni7ap.e13qjvis2 {
  background-color: aliceblue;
}

section.css-vk3wp9.e1akgbir11 {
  background-color: aliceblue;
}

span.css-10trblm.eqr7zpz0 {
  font-weight: 600;
  margin-bottom: 0px;
  color: black;
}

div.css-3mmywe.e15ugz7a0 {
  color: black;
}

svg.main-svg {
  color: black;
}

footer.css-h5rgaw.e1g8pov61 {
  color: black;
  font-weight: 500;
  width: 100%;
}

button.css-6awftf.e15ugz7a1 {
  background-color: grey;
  color: black;
  font-weight: 400;
}

div.block-container.css-1y4p8pa.e1g8pov64 {
  margin: 50px 10px;
  padding: 30px;
}

div.css-1n76uvr.esravye0 {
  width: 650px;
}

div.stPlotlyChart.js-plotly-plot {
  display: flex;
}

div.element-container.css-1vqkx2x.esravye2 {
  width: 500px;
}
